/* TABLET */

@media screen and (min-width: 768px) {

    #intro .cards {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #intro .card {
        flex-basis: calc(100% / 3 - 30px);
        margin: 15px 15px;
    }

    #intro .card:first-child {
        flex-basis: calc(100% / 3 * 2 - 30px);
    }

    #testimonials .card {
        flex-direction: row;
        align-items: center;
    }

    #testimonials img {
        flex-basis: 20%;
        margin-bottom: 0;
    }

    #benefits .cards {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #benefits .card {
        flex-basis: calc(50% - 30px);
    }

    #about-us .container {
        flex-direction: row;
    }

    #about-us .text {
        flex-basis: 60%;
        margin-left: 15px;
        margin-right: 15px;

    }

    #about-us .linkedin {
        flex-basis: 40%;
        margin-left: 15px;
        margin-right: 15px;
    }
}

/* .about-us .linkedin img {
    width: 100%;
} */

/* DESKTOP */

@media screen and (min-width: 992px) {

    .container {
        width: 70%;
    }

    .hamburger-menu {
        display: none;
    }

    .nav-bar ul {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        font-size: 0.8rem;
    }

    .nav-bar a {
        width: calc(100% / 5);
        text-decoration: none;
        color: rgb(255 255 255);

    }

    .nav-bar .btn {
        background-color: rgb(255, 255, 255);
        color: rgb(0 0 0);
    }

    #intro .cards {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    #intro .card {
        flex-direction: row;
        height: 250px;
        flex-basis: calc(100% / 3 - 30px);
        margin: 15px 15px;
        position: relative;
    }

    #intro .card .text,
    #intro .card figure {
        flex-basis: 50%;
    }

    #intro .card img {
        position: absolute;
        bottom: 0;
        right: 40px;
        width: 180px;
    }

    #intro .card:first-child {
        flex-basis: calc(100% / 3 * 2 - 30px);
    }

    #intro .card:first-child h4 {
        text-align: left;
    }

    #planning .container {
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
    }

    #planning .text,
    #planning .card {
        flex-basis: 30%;
        margin-left: 15px;
        margin-right: 15px;
    }

    #testimonials .card {
        flex-direction: row;
        align-items: center;

    }

    #testimonials img {
        flex-basis: 20%;
        margin-bottom: 0;
    }

    #benefits .cards {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #benefits .card {
        flex-basis: calc(100% / 3 - 30px);
    }

    #about-us .container {
        flex-direction: row;
    }

    #about-us .text {
        flex-basis: 70%;
        margin-left: 15px;
        margin-right: 15px;
    }

    #about-us .linkedin {
        flex-basis: 30%;
        margin-left: 15px;
        margin-right: 15px;
    }

}

/* LARGE DESKTOP */

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1400px;
    }

}