/* TABLET */

@media screen and (min-width: 768px) {

    .application .cards {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .application .card {
        flex-basis: calc(100% / 3 - 30px);
    }

    .application .large-card {
        flex-basis: calc(100% / 3 * 2 - 30px);
    }

    .testimonials .card {
        flex-direction: row;
    }

    .testimonials img {
        flex-basis: 20%;
    }

    .benefits .row {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .benefits .card {
        flex-basis: calc(50% - 30px);
    }

    .about-us .row {
        flex-direction: row;
    }

    .about-us .text {
        flex-basis: 60%;
    }

    .about-us .linkedin {
        flex-basis: 40%;
    }
}

/* DESKTOP */

@media screen and (min-width: 992px) {

    .container {
        width: 70%;
    }

    .hamburger-menu {
        display: none;
    }

    .nav-bar ul {
        display: flex;
        list-style-type: none;
    }

    .li {
        width: calc(100% / 5);
        height: 70px;
    }

    .application .cards {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .application .card {
        flex-basis: calc(100% / 3 - 30px);
    }

    .application .large-card {
        flex-basis: calc(100% / 3 * 2 - 30px);
    }

    .planning .row {
        flex-direction: row;
    }

    .planning .text,
    .planning .card {
        flex-basis: 50%;
    }

    .testimonials .card {
        flex-direction: row;
    }

    .testimonials img {
        flex-basis: 20%;
    }

    .benefits .row {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .benefits .card {
        flex-basis: calc(100% / 3 - 30px);
    }

    .about-us .row {
        flex-direction: row;
    }

    .about-us .text {
        flex-basis: 60%;
    }

    .about-us .linkedin {
        flex-basis: 40%;
    }

}

/* LARGE DESKTOP */

@media screen and (min-width: 1200px) {
    .container {
        width: 60%;
    }

}