* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

/* GENERICS */
body {
    font-family: 'PT Sans', sans-serif;
}

header {
    width: 100%;
    height: 80px;
    background-color: rgb(0, 132, 253);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

main {
    padding-top: 120px;
}

footer {
    width: 100%;
    background-color: rgb(51, 51, 51);
}

/* UTILS */

/* 
blu - rgb(0,132,253)
lightblu - rgb(181,221,255)
violet - rgb(151,146,228) 
*/

.container {
    width: 80%;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bg-violet {
    background-color: rgb(151, 146, 228);
}

.bg-white {
    background-color: rgb(255 255 255);
}

.padd-20 {
    padding: 20px 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.card {
    border-radius: 10px;
    padding: 20px 20px;
    margin-bottom: 20px;
}

.btn {
    text-decoration: none;
    height: 40px;
    padding: 8px 50px;
    text-align: center;
    border-radius: 30px;
}

.circle-btn {
    text-decoration: none;
    height: 40px;
    width: 40px;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
    border-radius: 50%;
}

/* HEADER */

header .nav-bar {
    color: rgb(255 255 255);
    padding: 0 15px;
}

.nav-bar .left,
.nav-bar .right {
    flex-basis: 50%;
    line-height: 80px;
}

.nav-bar .logo {
    vertical-align: middle;
}

.hamburger-menu {
    text-align: end;
    vertical-align: middle;
}

/* UL */
.nav-bar ul {
    display: none;
}

/* MAIN */

/* APPLICATION */

.application .card {
    width: 100%;
    flex-basis: calc(100% / 5);
    background-color: rgb(181, 221, 255);
    color: rgb(92, 113, 130);
    align-items: center;
}

.application .card h4 {
    color: rgb(0, 132, 253);
    text-align: center;
}

.application .card a {
    color: rgb(255 255 255);
    background-color: rgb(0, 132, 253);
    display: inline-block;
}

.application .card figure {
    text-align: center;
}

.application .card img {
    width: 70%;
    display: block;
}

.application .card span {
    color: rgb(0, 132, 253);
    text-align: center;
    display: block;
}

/* PLANNING */
.planning .text {
    flex-basis: 50%;
    width: 100%;
    color: rgb(255 255 255);
}

.planning .text img {
    width: 100%;
}

.planning .card {
    flex-basis: 50%;
    width: 100%;
    background-color: rgb(255 255 255);
    text-align: center;
}

.planning .card img {
    width: 100%;
}

.planning .card a {
    background-color: rgb(151, 146, 228);
}

/* TESTIMONIALS */
.testimonials {
    text-align: center;
}

.testimonials h2 {
    color: rgb(151, 146, 228);
}

.testimonials .card {
    background-color: rgb(151, 146, 228);
    width: 100%;
    color: rgb(255 255 255);
}

.testimonials .card img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

/* BENEFITS */

.benefits h2 {
    color: rgb(255 255 255);
    text-align: center;
}

.benefits .card {
    align-items: flex-start;
    background-color: rgb(255 255 255);
    width: 100%;
    color: rgb(167, 167, 167);
}

.benefits .card span {
    color: rgb(151, 146, 228);
    font-size: 48px;
}

.benefits .card h4 {
    color: rgb(151, 146, 228);
}

.benefits .card a {
    color: rgb(255 255 255);
    background-color: rgb(151, 146, 228);

}

/* ABOUT-US */

.about-us .container {
    align-items: flex-start;
}

.about-us .text h1 {
    color: rgb(151, 146, 228)
}

.about-us .linkedin {
    align-items: flex-start;
}

.about-us .linkedin img {
    width: 50%;
    border-radius: 50%;
}

.about-us .linkedin p {
    color: rgb(151, 146, 228);
    font-size: 30px;
    font-weight: bold;
}

.about-us .linkedin .btn {
    background-color: rgb(151, 146, 228);
    color: rgb(255 255 255);
    padding: 8px 10px;

}

/* GET-STARTED */
.get-started .links {
    width: 100%;
}